/* Put css styles for home view here */
.home-view {
    text-align: center;
    background-color: #EFEFF4;
}

.home-view p {
	padding: 5px;
}

.home-row {
    padding-top: 3px;
    padding-bottom: 3px;
}

.home-row input {
    border: 0px;
    text-align: right;
    border-radius: 0px;
    box-shadow: none;
    color: black;
}

.dx-button-text {
    border: 1px solid white;
    background-color: rgb(98, 31, 137);
    color: white;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
}

.dx-action-sheet-item .dx-button-text, .dx-action-sheet-cancel .dx-button-text {
    background-color: inherit !important;
    color: rgb(98, 31, 137) !important;
    font-size: 12px !important;
    border: none !important;
}

.dx-popup-title {
    color: black !important;
}

.shows-view {
    text-align: center;
    background-color: #EFEFF4;
}

.home-row {
    padding-top: 3px;
    padding-bottom: 3px;
}

.home-view {
    text-align: center;
    background-color: #EFEFF4;
}

.home-view p {
	padding: 5px;
}

.settingsbutton .dx-button-text {
    background-color: inherit !important;
    color: rgb(98, 31, 137);
}

.home-row {
    padding-top: 3px;
    padding-bottom: 3px;
}

.settingsbutton .dx-button-text {
    background-color: inherit !important;
    color: rgb(98, 31, 137);
}

.shows-view {
    text-align: center;
    background-color: #EFEFF4;
}

.dx-toolbar-items-container .dx-button-text {
    color: rgb(98, 31, 137) !important;
    background-color: transparent !important;
}